
@media (min-width: 1400px) {
  .owl-nav {
      max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .owl-nav  {
    max-width: 1140px;
}
}

@media (max-width: 992px) {
  .owl-nav {
    max-width: 960px;
}
}

@media (max-width: 768px) {
  .owl-nav {
    max-width: 720px;
}
}

@media (max-width: 576px) {
  .owl-nav {
    max-width: 540px;
}
}


@media screen and (min-width: 577px) and (max-width: 1400px) {
  #help .help_cards > div {
    gap: 12px;
  }
  .owl-carousel.owl-drag .owl-item {
    margin: 10px;
  }
}

/** Mobile **/
@media (max-width: 576px) {
  #home {
    height: 85vh;
  }  
  #home .presentation {
    padding: 0px;
  }
  #banner {
    height: 400px;
  }

  #help {
    margin-block: 100px;
  }
  #help .help_text {
    padding-bottom: 50px;
  }

  #help .help_card {
    width: 250px;
    height: 250px;
  }
}