
@media (min-width: 1400px) {
  .owl-nav {
      max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .owl-nav  {
    max-width: 1140px;
}
}

@media (max-width: 992px) {
  .owl-nav {
    max-width: 960px;
}
}

@media (max-width: 768px) {
  .owl-nav {
    max-width: 720px;
}
}

@media (max-width: 576px) {
  .owl-nav {
    max-width: 540px;
}
}


@media screen and (min-width: 577px) and (max-width: 1400px) {
  #help .help_cards > div {
    gap: 12px;
  }
  .owl-carousel.owl-drag .owl-item {
    margin: 10px;
  }
}

/** Mobile **/
@media (max-width: 576px) {
  #home .presentation {
    height: 1000px;
    display: flex;
    padding-right: 40px;
  }

  #home p {
    font-size: 22px;
  }
  
  #banner {
    height: 400px;
  }

  #help {
    margin-block: 100px;
  }
  #help .help_text {
    padding-bottom: 50px;
  }

  #help .help_card {
    width: 250px;
    height: 250px;
  }

  #jobs div > h2 {
    margin-right: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  #jobs div > p {
    padding: 50px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .owl-nav {
    justify-content: space-between;
    padding-inline: 20px;
    position: absolute;
  }

  .owl-nav svg {
    width: 10px;
    height: 18px;
  }

  .owl-nav path {
    stroke-width: 4px;
  }

  #jobs .portfolio .portfolio_card {
    height: 210px;
    width: 280px;
  }

  .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
  }
}

