@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --primary-collor: hsla(241, 56%, 53%, 1);
    --other-text-color: hsla(0, 40%, 98%, 1);
    --text-color: hsla(0, 0%, 100%, 1);
    --bg-color: hsla(0, 0%, 8%, 1);
    --color-card: hsla(0, 1%, 14%, 1);
}

html{
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background: var(--bg-color);


    overflow: overlay;
}

ul {
    list-style: none;
  }

h1,h2,h3,h4,h5,button {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color) !important;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.btn_pattern {
    border: 3px solid #FFFFFF;
    border-radius: 24px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
}

/* -=-=-=-=-=--=-=- navigation =--=-=-=-=-=-=-=-=-=- */

#navigation {
    position: absolute;
    height: 106px;
    width: 100vw;
    display: flex;
}

#navigation .container {
    display: flex;
}

#navigation .menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#navigation .options_menu {
    display: flex;
}

#navigation .options_menu .btn_pattern {
    margin-right: 45px;
}

/* -=-=-=-=-=--=-=- home =--=-=-=-=-=-=-=-=-=- */

#home {
    background: url('../img/Home.svg') no-repeat;
    height: 100vh;
}

#home h1, #home h2 {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0.1em;
}

#home p {
    margin: 7px 0 32px;
}

#home .presentation {
    height: 100vh;
    padding-top: 106px;
    display: flex;
    padding-right: 550px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* -=-=-=-=-=--=-=- banner =--=-=-=-=-=-=-=-=-=- */

#banner {
    padding: 80px 180px;
    height: 263px;
    background: #4845CB;
}

#banner h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

#banner p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

