@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --primary-collor: hsla(241, 56%, 53%, 1);
    --other-text-color: hsla(0, 40%, 98%, 1);
    --text-color: hsla(0, 0%, 100%, 1);
    --bg-color: hsla(0, 0%, 8%, 1);
    --color-card: hsla(0, 1%, 14%, 1);
}

html{
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background: var(--bg-color);


    overflow: overlay;
}

ul {
    list-style: none;
  }

h1,h2,h3,h4,h5,button {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color) !important;
    letter-spacing: 0.1em;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    letter-spacing: 0.1em;
}

.btn_pattern {
    border: 3px solid #FFFFFF;
    border-radius: 24px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
}

.btn_pattern:not(.btn_pattern_second):hover {
    background-color: var(--text-color);
    color: var(--bg-color) !important;
}

.btn_pattern_second {
    border: 3px solid #4845CB !important;
    background: #4845CB;
    box-shadow: 0px 4px 64px rgba(72, 69, 203, 0.6);
}

.btn_pattern_second:hover {
    box-shadow: 0px 4px 64px #4845CB;
}

/* -=-=-=-=-=--=-=- navigation =--=-=-=-=-=-=-=-=-=- */

#navigation {
    position: absolute;
    height: 106px;
    width: 100vw;
    display: flex;
}

#navigation .container {
    display: flex;
}

#navigation .menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#navigation .options_menu {
    display: flex;
}

#navigation .options_menu .btn_pattern {
    margin-right: 45px;
}

/* -=-=-=-=-=--=-=- home =--=-=-=-=-=-=-=-=-=- */

#home {
    background-image: url('../img/Home.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

#home h1, #home h2 {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
}

#home p {
    margin: 7px 0 32px;
}

#home .presentation {
    height: 100vh;
    padding-top: 106px;
    display: flex;
    padding-right: 550px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* -=-=-=-=-=--=-=- banner =--=-=-=-=-=-=-=-=-=- */

#banner {
    height: 263px;
    background: #4845CB;
}

#banner h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
}

#banner p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#banner div {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

/* -=-=-=-=-=--=-=- help =--=-=-=-=-=-=-=-=-=- */

#help {
    margin-block: 160px;
}

#help .help_text {
    padding: 0 80px;
}

#help .help_text h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 15px;
}

#help .help_text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
}


#help .help_cards > div {
    gap: 21px;
}

#help .help_card {
    width: 279px;
    height: 217px;
    background-color: var(--color-card);
    border-radius: 16px;
    padding: 32px;
}

#help .help_card svg,
#help .help_card h5 {
    margin-bottom: 8px;
}

#help .help_card h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#help .help_card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* -=-=-=-=-=--=-=- jobs =--=-=-=-=-=-=-=-=-=- */

#jobs {
    margin-bottom: 80px;
}

#jobs .portfolio .portfolio_card {
    width: 344px;
    height: 264px;
    background-color: var(--text-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
