@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --primary-collor: hsl(255, 65.7%, 52%);
    --secondary-collor: hsl(0, 0%, 96.1%);
    --bg-color: hsl(0, 0%, 18.4%);
}

html{
    scroll-behavior: smooth;
}

/* Largura HTML 100% */
html,body{
    width: 100%;
    height: 100%;
}

body{
    background: ;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}